node_modules
.env
dist
/.qodo
/.vscode
/.opencode
AGENTS.md
backend/tests/*.js
backend/tests/*.js.map
backend/tests/*.d.ts
backend/tests/*.d.ts.map
backend/tests/*.test.js
backend/tests/*.test.js.map
/backend/tests